body {
    font-family: 'Arial', sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

#textInput {
    width: calc(100% - 40px);
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 15px;
    resize: vertical;
    font-size: 16px;
    color: #333;
    display: block;
    line-height: 1.5;
    box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
}

#textInput::placeholder {
    color: #888;
}

.counter-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.counter {
    background-color: #e0e0e0;
    color: #333;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}

.counter-icon {
    margin-right: 10px;
    font-size: 24px;
}